<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>command</key>
	<string>if [[ ! -f "$TM_NEW_FILE" ]]; then
   TM_YEAR=`date +%Y` \
   TM_DATE=`date` \
   perl -pe 's/\$\{([^}]*)\}/$ENV{$1}/g' \
      &lt; Component.as &gt; "$TM_NEW_FILE"
fi</string>
	<key>extension</key>
	<string>as</string>
	<key>name</key>
	<string>SyndecaViewer Component</string>
	<key>scope</key>
	<string>source.actionscript.3</string>
	<key>uuid</key>
	<string>18AAF32E-527C-40AC-A009-7F9405E44589</string>
</dict>
</plist>
